p {
  border: 10px;
  border-style: solid;
  border-color: #0c8da0;
}
#verde{
  border-color: yellow
}
.rojo{
  color: red;
}

h1 {
  color: white;
  background-color: black;
}

h2 {
  color: red;
  background-color: black;
}
/*Para cambiar de colo al pasarle el mouse sobre la
etiqueta*/
p:hover{
  border-color: #4d2926;
}
