  <!--Emmet-->
  <!--p.r luego tab-->
  <p class="r"></p>
  <!--p#sss luego tab-->
  <p id="sss"></p>
  <!--div.b luego tab-->
  <div class="b"></div>
  <!--img.eeee*2 luego tab-->
  <img src="" alt="" class="eeee">
  <img src="" alt="" class="eeee">
  <!--h1>a luego tab-->
  <h1><a href=""></a></h1>
  <!--h1.c1.c2.c3 luego tab-->
  <h1 class="c1 c2 c3"></h1>
  <!--.fila>.columna+.columna+h1 luego tab-->
  <div class="fila">
    <div class="columna"></div>
    <div class="columna"></div>
    <h1></h1>
  </div>



<h1>Titulo</h1>
<p>
  Cuerpo
</p>
