<div class="continer" >
  <div class="row" >
    <div class="col-sm-1"> </div>
    <div class="col-xl-1">Bootstrap</div>
    <div class="col-sm-1">Documents</div>
    <div class="col-sm-1">Examples </div>
    <div class="col-sm-1">Themes   </div>
    <div class="col-sm-1">Expo</div>
    <div class="col-sm-1">Blog     </div>
  </div>

  <div style="background-color: #6b429d" align="center" id="filaPrincipal" class="row">
    <div class="col-xl-12" >
      <img id="logo" src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-social-logo.png"
             alt="" width="190" height="190">
      <p>Bootstrap is the most popular HTML, CSS, and JS framework in the</p>
      <p>  world for building responsive, mobile-first projects on the web.</p>
      <a class="boton" href="https://v4-alpha.getbootstrap.com/getting-started/download/">Download Bootstrap</a>
      <p id="version">Currently v4.0.0-alpha.6</p>
      <div id="urls" class="row">
        <div class="col-md-5">
          <a id="ibm" href="https://www.ibm.com/cloud-computing/bluemix/es/cloud-infrastructure-performance">
            <img src="https://s0.2mdn.net/5063266/Low-Latency---Carbon---130x100.jpg" alt="">
          </a>
        </div>
        <a class="col-md-7" href="https://www.ibm.com/cloud-computing/bluemix/es/cloud-infrastructure-performance">
          The Cloud Doesn't Have to be Cloudy. Get the Cloud with Nothing to Hide!
        </a>
      <div class="row" >
        <a class="col-sm-12" href="https://carbonads.net/?utm_source=getbootstrapcom&utm_medium=ad_via_link&utm_campaign=in_unit&utm_term=carbon">
          ads via Carbon
        </a>
      </div>
      </div>
    </div>
  </div>

  <div class="container" align="center">
    <h2 class="inicioblacon">Designed for everyone, everywhere.</h2>
    <p id="datosboostrap">Bootstrap makes front-end web development faster and easier. It's made for folks of all skill levels, devices of all shapes, and projects of all sizes.</p>

    <div class="row">
      <div class="col-sm-4">
        <img id="ss" alt="primerdibujo" src="http://getbootstrap.com/assets/img/sass-less.png" class="img-responsive">
        <h3>Preprocessors</h3>
        <p>Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors,
          <a href="http://getbootstrap.com/css/#less">Less</a> and
          <a href="http://getbootstrap.com/css/#sass">Sass</a>. Quickly get started with precompiled CSS or build on the source.
        </p>
      </div>
      <div class="col-sm-4">
        <img alt="Responsive across devices" src="http://getbootstrap.com/assets/img/devices.png" class="img-responsive">
        <h3>One framework, every device.</h3>
        <p>Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.</p>
      </div>
      <div class="col-sm-4">
        <img alt="Components" src="https://fossies.org/linux/www/bootstrap-3.3.7.tar.gz/bootstrap-3.3.7/docs/assets/img/components.png" class="img-responsive">
        <h3>Full of features</h3>
        <p>With Bootstrap, you get extensive and beautiful documentation for common HTML elements, dozens of custom HTML and CSS components, and awesome jQuery plugins.</p>
      </div>
    </div>
    <p class="lead">Bootstrap is open source. It's hosted, developed, and maintained on GitHub.</p>
    <a href="https://github.com/twbs/bootstrap" class="btn">View the GitHub project</a>
  </div>

  <hr class="half-rule">
  <div class="container" align="center">
    <h2 class="inicioblacon">Built with Bootstrap.</h2>
    <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own with our growing
      <a href="http://getbootstrap.com/getting-started/#examples">collection of examples</a>
      or by exploring some of our favorites.
    </p>
    <hr class="half-rule">
    <div class="row">
     <div class="col-sm-3">
       <a href="http://expo.getbootstrap.com/2014/10/29/lyft/"  title="Lyft">
         <img alt="Lyft" src="https://fossies.org/linux/www/bootstrap-3.3.7.tar.gz/bootstrap-3.3.7/docs/assets/img/expo-lyft.jpg" class="img-responsive">
       </a>
     </div>
     <div class="col-sm-3">
       <a href="http://expo.getbootstrap.com/2014/09/30/vogue/"  title="Vogue">
        <img alt="Vogue" src="https://fossies.org/linux/www/bootstrap-3.3.7.tar.gz/bootstrap-3.3.7/docs/assets/img/expo-vogue.jpg" class="img-responsive">
       </a>
     </div>
     <div class="col-sm-3">
       <a href="http://expo.getbootstrap.com/2014/03/13/riot-design/" title="Riot Design">
         <img alt="Riot Design" src="https://fossies.org/linux/www/bootstrap-3.3.7.tar.gz/bootstrap-3.3.7/docs/assets/img/expo-riot.jpg" class="img-responsive">
       </a>
     </div> <div class="col-sm-3">
       <a href="http://expo.getbootstrap.com/2014/02/12/newsweek/"  title="Newsweek">
         <img alt="Newsweek" src="https://fossies.org/linux/www/bootstrap-3.3.7.tar.gz/bootstrap-3.3.7/docs/assets/img/expo-newsweek.jpg" class="img-responsive">
       </a>
     </div>
     </div>
     <hr class="half-rule">
     <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
     <a href="http://expo.getbootstrap.com" class="btn">Explore the Expo</a>
  </div>
  <footer class="ftr">
    <div class="container">
      <ul class="ftr-links">
        <li><a class="etiq-a" href="https://github.com/twbs/bootstrap">GitHub</a></li>
        <li><a class="etiq-a" href="https://twitter.com/getbootstrap">Twitter</a></li>
        <li><a class="etiq-a" href="http://getbootstrap.com/getting-started/#examples">Examples</a></li>
        <li><a class="etiq-a" href="http://getbootstrap.com/about/">About</a></li>
      </ul>
      <p>Designed and built with all the love in the world by
        <a class="etiq-a" href="https://twitter.com/mdo" >@mdo</a>
        and <a class="etiq-a" href="https://twitter.com/fat" >@fat</a>
        . Maintained by the <a class="etiq-a" href="https://github.com/orgs/twbs/people">core team</a>
        with the help of <a class="etiq-a" href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.
      </p>
      <p>
        Code licensed
        <a class="etiq-a"href="https://github.com/twbs/bootstrap/blob/master/LICENSE"
           rel="license">MIT
        </a>
        , docs <a href="https://creativecommons.org/licenses/by/3.0/" rel="license">CC BY 3.0</a>.
      </p>
    </div>
  </footer>
</div>

